.header  {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333333;
    color: antiquewhite;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: antiquewhite;
}

.header__menu {
    display: flex;
}
.header__menu div {
    margin-left: 50px;
}

.header__cart {
    background: rgba(250, 235, 215, 0.942);
    padding: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.btn__cart img {
    width: 24px;
    height: 24px;
}

@media (max-width:665px) {
    .header__menu div {
        margin-left: 10px;
    }
}